.appWrap {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* title이라는 이름으로 바로 사용할 수 있다.  */
:global .title {
    color: red;
}